body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    min-height: 100vh;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background: var(--primary-bg-color);
}
.header {
    display: flex;
    justify-content: flex-end;
    margin: 7px 12px;
    gap: 20px;
}
.header__logo {
    position: fixed;
    left: 7px;
    top: 7px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: width 1s ease, height 1s ease;
}
.header__logo:hover {
    width: 150px;
    height: 150px;
}
.nav-main {
    width: 100%;
    background-color: var(--primary-bg-color);
    z-index: 10;
}
.nav-main__list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    margin: 3px;
    padding: 1px;
}
.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px 20px;
    user-select: none;
}
.icon.lang::before {
    font-family: 'Nav Icons';
    font-size: 32px;
    content: var(--icon-lang);
}
.icon::before, .icon::after {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--icon-color);
    cursor: pointer;
}
.icon.tm::before {
    font-family: 'Nav Icons';
    font-size: 42px;
    content: var(--theme-icon);
}
.icon.h::after {
    content: var(--nav-home-text);
}
.icon.p::after {
    content: var(--nav-projects-text);
}
.icon.a::after {
    content: var(--nav-about-text);
}
.icon.c::after {
    content: var(--nav-contacts-text);
}
.icon.active::before, .icon.active::after, .icon:hover::before, .icon:hover::after {
    color: var(--primary-color);
    transform: scale(1.1);
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 900px;
    padding-bottom: 50px;
}
.repo-tab {
    margin-bottom: 10px;
}
.repo-link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 12px 7px;
    border: 1px solid var(--link-color);
    border-radius: 5px;
    margin: 5px;
    background-color: var(--secondary-bg-color);
}
.repo-link:hover, .repo-link:hover * {
    color: var(--primary-color);
    opacity: 1;
    background-color: var(--primary-bg-color);
}
.repo-link:hover *::before {
    opacity: 1;
}
.repo-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    font-size: small;
}
.repo-lang {
    position: relative;
    padding-left: 15px;
}
.repo-lang::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 2px;
    left: 0;
    border-radius: 50%;
    opacity: 0.6;
    background-color: var(--text-color);
}
.repo-lang.java::before {
    background-color: #b07219;
}
.repo-lang.javascript::before {
    background-color: #F1E05A;
}
.repo-lang.css::before {
    background-color: #563d7c;
}
.repo-lang.html::before {
    background-color: #E34C26;
}
.star {
    position: relative;
    padding-left: 15px;
}
.star::before {
    content: '2';
    position: absolute;
    left: 0;
    font-size: 18px;
    font-family: 'Nav Icons';
}
.repo-btn {
    margin: 10px;
    cursor: pointer;
}
.repo-btn:hover {
    color: var(--primary-color);
}
@media screen and (orientation: portrait) {
    .nav-main {
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    .nav-main__list  .icon.active {
        border-top: 1px solid var(--primary-color);
    }
    .icon::before {
        font-family: 'Nav Icons';
        font-size: 37px;
    }
    .icon.h::before {
        content: 'H';
    }
    .icon.p::before {
        content: 'P';
    }
    .icon.a::before {
        content: 'A';
    }
    .icon.c::before {
        content: 'C';
    }
    .icon::after {
        margin-top: -7px;
        font-size: 12px;
    }
    .container {
        margin: 15px 7px;
    }
    .container {
        padding-bottom: 100px;
    }
    .footer {
        bottom: 80px;
    }
}
@media screen and (orientation: landscape) {
    body::before {
        position: fixed;
        display: flex;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        opacity: 0.1;
        background: url('../images/jms-desktop.png') center/cover no-repeat;
        z-index: -1;
    }
    .nav-main {
        position: sticky;
        top: 0;
        max-width: 900px;
        margin: 12px auto;
    }
    .nav-main__list {
        max-width: 900px;
        align-items: flex-start;
    }
    .nav-main__list .icon.active {
        border-bottom: 1px solid var(--primary-color);
    }
    .icon::after {
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    .container {
        margin: 20px auto 7px;
    }
    .repo-link {
        width: 640px;
    }
}