body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    min-height: 100vh;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background: var(--primary-bg-color);
}
.header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 7px 12px;
    gap: 30px;
}
.header__logo {
    position: fixed;
    left: 7px;
    top: 7px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: width 1s ease, height 1s ease;
}
.header__logo:hover {
    width: 150px;
    height: 150px;
    z-index: 12;
}
.header__title {
    position: absolute;
    top: 0;
    left: 50px;
    margin-top: 3px;
}
.nav-main {
    width: 100%;
    background-color: var(--primary-bg-color);
    border-radius: 7px;
    z-index: 10;
}
.nav-main__list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    margin: 3px;
    padding: 1px;
}
.icon {
    display: flex;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.icon::before {
    font-family: 'Nav Icons';
}
.icon.lang::before {
    content: var(--icon-lang);
}
.icon::before, .icon::after {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--icon-color);
    cursor: pointer;
}
.icon.tm::before {
    content: var(--theme-icon);
}
.icon.h::after {
    content: var(--nav-home-text);
}
.icon.p::after {
    content: var(--nav-projects-text);
}
.icon.a::after {
    content: var(--nav-about-text);
}
.icon.c::after {
    content: var(--nav-contacts-text);
}
.icon.active::before, .icon.active::after, .icon:hover::before, .icon:hover::after {
    color: var(--primary-color);
    transform: scale(1.1);
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    padding-bottom: 50px;
}
.repo-tab {
    margin-bottom: 10px;
}
.repo-link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 12px 7px;
    border: 1px solid var(--link-color);
    border-radius: 5px;
    margin: 5px;
    background-color: var(--secondary-bg-color);
}
.repo-link:hover, .repo-link:hover * {
    color: var(--primary-color);
    opacity: 1;
    background-color: var(--primary-bg-color);
}
.repo-link:hover *::before {
    opacity: 1;
}
.repo-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: smaller;
}
.repo-lang {
    position: relative;
    padding-left: 15px;
}
.repo-lang::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 2px;
    left: 0;
    border-radius: 50%;
    opacity: 0.6;
    background-color: var(--text-color);
}
.repo-lang.java::before {
    background-color: #b07219;
}
.repo-lang.javascript::before {
    background-color: #F1E05A;
}
.repo-lang.css::before {
    background-color: #563d7c;
}
.repo-lang.html::before {
    background-color: #E34C26;
}
.repo-icons {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 18px;
}
.repo-icons.star::before {
    content: '2';
    position: absolute;
    left: 0;
    font-family: 'Nav Icons';
}
.repo-btn {
    margin: 10px;
    cursor: pointer;
}
.repo-btn:hover {
    color: var(--primary-color);
}
.icon-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.5rem;
}
.icon-sm::before {
    font-family: 'Nav Icons';
    padding: 1px;
    flex-direction: row;
}
.icon-sm.email::before {
    content: 'C';
}
.icon-sm.email::after {
    content: 'jmsmarcelos@gmail.com';
}
.icon-sm.wa::before {
    content: '5';
}
.icon-sm.wa::after {
    content: '+55 69 9 9287-9084';
}
.icon-sm:hover {
    color: var(--link-color);
    
}
fieldset {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--text-color);
    border-radius: 7px;
    background-color: var(--primary-bg-color);
}
legend {
    padding: 0 3px;
}
.about-container {
    max-width: 500px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 7px;
    gap: 3px;
}
.about-container p {
    width: calc(100% - 160px);
    min-width: 171px;
    text-align: left;
}
.about-icon {
    display: flex;
    width: 150px;
    align-items: center;
    padding: 2px;
    margin: 3px;
    border: 1px solid var(--text-color);
    border-radius: 9px;
    gap: 7px;
    font-family: 'Adobe Clean', sans-serif;
    background-color: #ffffff;
}
.about-icon::before {
    display: flex;
    width: 30px;
    height: 26px;
    justify-content: center;
    font-size: 18px;
    border-radius: 7px;
}
.about-icon::after {
    font-size: 18px;
}

.about-icon.html5::before {
    content: '';
    background: url('../images/html5.svg') center/70% no-repeat;
}
.about-icon.html5::after {
    content: 'HTML5';
    color: #e44d26;
}
.about-icon.css3::before {
    content: '';
    background: url('../images/css3.svg') center/70% no-repeat;
}
.about-icon.css3::after {
    content: 'CSS3';
    color: #264de4;
}
.about-icon.js::before {
    content: '';
    background: url('../images/js.svg') center/70% no-repeat;
}
.about-icon.js::after {
    content: 'JavaScript';
    color: #000000;
}
.about-icon.php::before {
    content: '';
    background: url('../images/php.svg') center/contain no-repeat;
}
.about-icon.php::after {
    content: 'PHP';
    color: #000000;
}
.about-icon.java::before {
    content: '';
    background: url('../images/java.svg') center/contain no-repeat;
}
.about-icon.java::after {
    content: 'Java';
    color: #f8981d;
}
.about-icon.javafx::before {
    content: '';
    background: url('../images/java.svg') center/contain no-repeat;
}
.about-icon.javafx::after {
    content: 'JavaFX';
    background-image: linear-gradient(to right, #f8981d 0%, #f8981d 0 60%, #5382a1 60%, #5382a1 100%);
    color: transparent;
    background-clip: text;
}
.about-icon.spring::before {
    content: '';
    background: url('../images/spring.svg') center/contain no-repeat;
}
.about-icon.spring::after {
    content: 'Spring';
    color: #5382a1;
}
.about-icon.kotlin::before {
    content: '';
    background: url('../images/kotlin.svg') center/70% no-repeat;
}
.about-icon.kotlin::after {
    content: 'Kotlin';
    color: #000000;
}
.about-icon.mysql::before {
    content: '';
    background: url('../images/mysql.svg') center/70% no-repeat;
}
.about-icon.mysql::after {
    content: 'MySQL';
    background-image: linear-gradient(to right, #5d87a1 0%, #5d8791 40%, #f8981d 40%, #f8981d 100%);
    color: transparent;
    background-clip: text;
}
.about-icon.ai {
    background-color: #FF9A00;
}
.about-icon.ai::before {
    content: 'Ai';
    color: #FF9A00;
    background-color: #330000;
}
.about-icon.ai::after {
    content: 'Illustrator';
    color: #330000;
}
.about-icon.ps {
    background-color: #31A8FF;
}
.about-icon.ps::before {
    content: 'Ps';
    color: #31A8FF;
    background-color: #001E36;
}
.about-icon.ps::after {
    content: 'Photoshop';
    color: #001E36;
}
.about-icon.pr, .about-icon.ae, .about-icon.au {
    background-color: #9999FF;
}
.about-icon.pr::before {
    content: 'Pr';
    color: #9999FF;
    background-color: #00005B;
}
.about-icon.pr::after {
    content: 'Premiere';
    color: #00005B;
}
.about-icon.ae::before {
    content: 'Ae';
    color: #9999FF;
    background-color: #00005B;
}
.about-icon.ae::after {
    content: 'After Effects';
    color: #00005B;
}
.about-icon.au::before {
    content: 'Au';
    color: #9999FF;
    background-color: #00005B;
}
.about-icon.au::after {
    content: 'Audition';
    color: #00005B;
}
@media screen and (orientation: portrait) {
    .nav-main {
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    .nav-main__list  .icon.active {
        border-top: 1px solid var(--primary-color);
    }
    .icon:not(.lang, .tm)::before {
        padding: 5px 20px 0;
    }
    .icon.h::before {
        content: 'H';
    }
    .icon.p::before {
        content: 'P';
    }
    .icon.a::before {
        content: 'A';
    }
    .icon.c::before {
        content: 'C';
    }
    .icon::after {
        width: 100%;
        font-size: 12px;
    }
    .container {
        margin: 15px 7px;
        padding-bottom: 100px;
    }
    .footer {
        bottom: 80px;
    }
}
@media screen and (orientation: landscape) {
    body::before {
        position: fixed;
        display: flex;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        opacity: 0.1;
        background: url('../images/jms-desktop.png') center/cover no-repeat;
        z-index: -1;
    }
    .nav-main {
        position: sticky;
        top: 0;
        max-width: 900px;
        margin: 12px auto;
    }
    .nav-main__list {
        max-width: 900px;
        align-items: flex-start;
    }
    .nav-main__list .icon.active {
        border-bottom: 1px solid var(--primary-color);
    }
    .icon::after {
        padding: 10px 30px;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    .container {
        margin: 20px auto 7px;
    }
    .repo-link {
        width: 640px;
    }
}
@media screen and (max-width: 359px) {
    .about-container p {
        width: 100%;
        text-align: center;
    }
}